<div class='row'>

  <div class='col-xs-3'>
    <%= image_tag(@user.image, :height => "100%", :width => "100%") %>
  </div>

  <div class="col-xs-9">
    <h3> Email: <%= @user.email %> </h3>
    <h3> Name: <% if @user.name == nil %>
                -------------------
             <% else %>
              <%= @user.name %>
            <% end %><br>
    </h3>

    <h3> Status: <%= @status %>/<%= @size %> <h3>
  </div>

</div>

<div class="row">
  <font color="green">
  <h3>
    <p class="bg-success">
      Completed courses: 
    </p>
  </h3>
  </font>

  <h4>
  <% @completed.each do |course| %>
    <div class='col-xs-1'></div>

    <div class='row'>
      <div class='col-xs-2'>
        <%= link_to image_tag(Course.find(course.course_id).image, :height => "10%", :width => "10%"), course_path(course)%>
        <%= link_to Course.find(course['course_id']).title, course_path(Course.find(course['course_id']))%>
      </div>
      
      <div class='col-xs-3'>
        <%= link_to image_tag(User.find(course.mentor_id).image, :height => "10%", :width => "10%"), mentor_path(User.find(course['mentor_id']))%>
        <%= link_to User.find(course['mentor_id']).email, mentor_path(User.find(course['mentor_id'])) %> <br>
      </div>

    </div>

  <% end %>
  </h4>

  <font color="red">
    <h3> 
      <p class="bg-danger"> 
        Uncompleted courses: 
      </p>
    </h3>
  </font>

  <h4>
    <% @uncompleted.each do |course| %>
    <div class='col-xs-1'></div>

    <div class='row'>
      <div class='col-xs-2'>
        <%= link_to image_tag(course.image, :height => "10%", :width => "10%"), course_path(course)%>
        <%= link_to course.title, course_path(course) %>
      </div>

    </div>

  <% end %>
  </h4>
</div>