<!DOCTYPE html>
<html>
<head>
  <title>TsocServer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class = 'container'>
  <nav class="navbar navbar-default">
    <div class='container-fluid'>
      <div class="navbar-header">
        <%= link_to 'Main Page', '/', {class: "navbar-brand"} %>
        <%= link_to 'Students', '/student', {class: "navbar-brand"} %>
        <%= link_to 'Mentors', '/mentor', {class: "navbar-brand"} %>
        <%= link_to 'Course', '/course', {class: "navbar-brand"} %>
        <%= link_to 'Admin', '/admin', {class: "navbar-brand"} %>
      </div>
    </div>
  </nav>

  <div class="row">
    <%= yield %>
  </div>
</div>

</body>
</html>
